# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
.pytest_cache/
.mypy_cache/

# PlatformIO & Arduino
.pio/
.pioenvs/
.piolibdeps/
.clang_complete
.gcc-flags.json
.vscode/

# Environment and OS
.env
.venv
venv/
ENV/
.DS_Store
Thumbs.db

# Project Specific
*.wav
*.png
*.ico
*.exe
config.py
secrets.h

Balancer_with_Stepper.py
IMG_5416.mov
m5_unit_joystick2.
m5_unit_joystick2.hpp
pico_robot_main.py
Servo_Sync_Only.py
servo_test_gp22.py
stepper_test.py
udp_receiver.py
environment.yml

esp32s3_ap_remote_controller/